body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list-users {
  list-style: none;
  display: inline-block;
}

.user-picture {
  float: left;
}

.user-description {
  float: right;
}

.bgColor {
  background-color:#6a71cb;
  height: 82px;
}

.nav-links {
  color: #1b1c1d;
  text-decoration: none;
  font-weight: bold;
  margin-top: 21px;
  font-size: 17px;
}

.logo-app {
  font-size: 37px;
  padding-top: 5px;
  color:white;
}

.footer {
  background-color: #6a71cb;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  color: white;
}

.ui.search>.prompt {
  display: block;
  margin: 0 auto;
  border-radius: 0;
}

.ui.labeled.icon.button{
 background-color: #5e66cf;
 color:white;
}

 #add-button{
margin-left:50px;
} 


.Modal{
  position: absolute;
  top: 183px;
  left: 167px;
  right: 103px;
  bottom: 358px;
  background-color: white;
  border: 1px solid black;
  padding:30px;
}

.input-field {
  margin-left: 81px;
  margin-top: 50px;
}


.input-text {
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 19px;
}

.headline {
  color: #5d64bb;
}

.input-item {
  width: 50%;
  height: 37px;
}


#userCard, #postAndCommentsCount{
  margin-top: 30px;
  text-align: center
}

#menu{
  margin-right: 30px;
}

#submitCommentButton{
margin-bottom: 20px;
background-color:rgb(105, 153, 199);
}
#addCommentForm{
  margin-top: 20px;
}


#photoForm img{
  width:50px;
}

.content .delete-btn {
  float: right;
  margin-top: -3%;
}

.search-users {
  width: 100%;
  border-radius: 0px;
  background-color: blue;
  color: white;
  margin-top: 10px;
}

.ui.category.search {
  margin-top: 32px;
}

.ui.list>.item{
  padding: 10px !important;
  margin: 20px 0 !important;
  box-shadow: 2px 2px 10px lightgray;
}

#footer-image{
  padding-right: 10px;
  padding-bottom: 5px;
}

.header-link{
  color:white;
}
#warning{
  background-color: rgb(240, 120, 120);
  border: 1px solid rgb(221, 61, 61);
  border-radius: 5%;
  color:rgb(59, 54, 54);
  padding: 10px;
  margin-left:7px;
}

.invisible{
  display: none;
}


.icon-type {
  color: #6a71cb;
}

.ui.button.delete-btn {
  background-color: #6a71cb;
  color: white;
}

i.icon {
  color: #6a71cb;
}

.ui form>.ui button{
background: #8188f8;
}

#theaterMode{
  position: fixed;
  top: 7%;
  left:7%;
  width:85%;
  z-index:1;
}

#theaterMode img {
  width:100%;
}

#segmentPhoto{
  width:100%;
}

.visible{
  float:right;
  padding:6px;
  background-color: #5d64bb;
  color: white;
  border:1px solid #5d64bb;
margin-right: 5px;
border-radius: 5px;
}

.welcome-container {
  margin-top: 14%;
}

#login{
  width:500px;
  display: inline-block;
  margin-right: 10%;
}

#tabs {
  width:500px;
  display: inline-block;
}


/* .headline-app {
  float: left;
  clear: both;
} */

#login p {
  line-height: 31px;
  font-size: 15px;
}

/* .tabs {
  float: right;
  clear: both;
}  */

