body, html, root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(242, 242, 242) !important;
  height:100%;
}

.wrapper {
  min-height: 91vh;
  /* Equal to height of footer */
  margin-bottom: 50px;
}

.list-users {
  list-style: none;
  display: inline-block;
}

.user-picture {
  float: left;
}

.user-description {
  float: right;
}

.bgColor {
  background-color:#6a71cb;
}

.nav-links {
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}
.header-link{
  color:white;
  padding-right:20px;
}

#logout{
  padding-right: 20px;
  color: rgb(177, 202, 248);
  margin-left:25px;
}

.logo-app {
  font-size: 37px;
  padding-top: 5px;
  padding-left:40px;
  color:white;
}

.footer {
  background-color: #6a71cb;
  text-align: center;
  padding: 10px 0;
  /* margin-top: 20px; */
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* .push {
  height: 70px;
} */

.ui.search>.prompt {
  display: block;
  margin: 0 auto;
  border-radius: 0;
}

.ui.labeled.icon.button{
 background-color: #5e66cf;
 color:white;
 width:100%;
}

/* .Modal{
  position: absolute;
  top: 183px;
  left: 167px;
  right: 103px;
  bottom: 358px;
  background-color: white;
  border: 1px solid black;
  padding:30px;
} */

.Modal {
  position: fixed;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%,-50%);
  outline: 0;
  background-color: white;
  border: 1px solid black;
  padding:30px;
}

.input-field {
  margin-left: 81px;
  margin-top: 50px;
}


.input-text {
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 19px;
}

.headline {
  color: #5d64bb;
}

.input-item {
  width: 50%;
  height: 37px;
}


#userCard, #postAndCommentsCount{
  margin-top: 30px;
  text-align: center
}

#menu{
  margin-right: 30px;
}

#submitCommentButton{
margin-bottom: 20px;
background-color:rgb(105, 153, 199);
}
#addCommentForm{
  margin-top: 20px;
}


#photoForm img{
  width:50px;
}

.content .delete-btn {
  float: right;
  margin-top: -3%;
}

.search-users {
  width: 100%;
  border-radius: 0px;
  background-color: blue;
  color: white;
  margin-top: 10px;
}

.ui.category.search {
  margin-top: 32px;
}

.ui.list>.item{
  padding: 10px !important;
  margin: 20px 0 !important;
  box-shadow: 2px 2px 10px lightgray;
  border-radius: 5px;
}

#footer-image{
  padding-right: 10px;
  padding-bottom: 5px;
}



#warning{
  background-color: rgb(240, 120, 120);
  border: 1px solid rgb(221, 61, 61);
  border-radius: 5%;
  color:rgb(59, 54, 54);
  padding: 10px;
  margin-left:7px;
}

.invisible{
  display: none;
}


.icon-type {
  color: #6a71cb;
}

.ui.button.delete-btn {
  background-color: #6a71cb;
  color: white;
}

i.icon {
  color: #6a71cb;
}

.ui form>.ui button{
background: #8188f8;
}

#theaterMode{
  position: fixed;
  top: 7%;
  left:7%;
  width:85%;
  z-index:1;
}

#theaterMode img {
  width:100%;
}

#segmentPhoto{
  width:100%;
}

.visible{
  float:right;
  padding:6px;
  background-color: #5d64bb;
  color: white;
  border:1px solid #5d64bb;
  margin-right: 5px;
  border-radius: 5px;
}

.welcome-container {
  text-align: center;
}



#login{
  width:100%;
  display: inline-block;
  margin-right: 10%;
  padding:  0 50px;

}

#main {
  padding-top: 14%;
  background-image: url('./app/partials/bg.jpg');
  background-size: cover;
  min-height: 101vh;
}


.tabs {
  width:100%;
  margin-left:50px;
}

#login p {
  line-height: 31px;
  font-size: 15px;
}

#editButton{
  float:none;
}

.ui.menu .active.item {
  background: #5d64bb !important;
  color: rgba(255,255,255,.95) !important;
}

.ui.button {
  background: #5d64bb !important;
  color: rgba(255,255,255,.95) !important;
}

.ui.segment {
  background: rgb(242, 242, 242) !important;
}

#login h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#show{
  margin-top:20px;
}

.ui.one.cards>.card{
  width:100% !important;
}

#pagination{
padding-top:30px;
margin:0 auto;
}

.error{
  
  width:90%;
  height:76vh;
  text-align: center;
  position: fixed;
  top:12%;
  left:5%;
  background-image: url( './app/sharedComponents/error-photo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index:1;
}

.errMsg{
position:absolute;
top:65%;
left:50%;
transform: translate(-50%, -50%);
color:rgb(93, 90, 255);
font-size: 30px;
line-height: 1.8;
}

.error-login{
  background: rgb(242, 242, 242);
  margin-top: 20px;
  padding:10px;
  border-radius: 5px;
  font-size: 20px;
  color: red;
}

